### 1. Introduction

### 2. Importing the Libraries

In [1]:
import  numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### 3. Loading the Dataset

In [2]:
df = pd.read_csv('sneakers.csv')

In [3]:
sneakers = df.copy()
sneakers.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,3.5,72

In [4]:
print('the shape of the DataFrame is: ', sneakers.shape)
print('the size of the DataFrame is: ', sneakers.size)
print('the dimension of the DataFrame is: ', sneakers.ndim)
print('the column names of the DataFrame are: ', sneakers.columns)
print('the dtypes of the DataFrame is: ', sneakers.dtypes)

the shape of the DataFrame is:  (3268, 8)
the size of the DataFrame is:  26144
the dimension of the DataFrame is:  2
the column names of the DataFrame are:  Index(['Product Name', 'Product ID', 'Listing Price', 'Sale Price', 'Discount',
       'Brand', 'Rating', 'Reviews'],
      dtype='object')
the dtypes of the DataFrame is:  Product Name      object
Product ID        object
Listing Price      int64
Sale Price         int64
Discount           int64
Brand             object
Rating           float64
Reviews            int64
dtype: object

In [5]:
sneakers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   3268 non-null   object
 1   Product ID     3268 non-null   object
 2   Listing Price  3268 non-null   int64
 3   Sale Price     3268 non-null   int64
 4   Discount       3268 non-null   int64
 5   Brand          3268 non-null   object
 6   Rating         3268 non-null   float64
 7   Reviews        3268 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 204.4+ KB

In [6]:
sneakers.describe()

       Listing Price    Sale Price     Discount       Rating      Reviews
count    3268.000000   3268.000000  3268.000000  3268.000000  3268.000000
mean     6868.020196   6134.265606    26.875765     3.242105    40.551714
std      4724.659386   4293.247581    22.633487     1.428856    31.543491
min         0.000000    449.000000     0.000000     0.000000     0.000000
25%      4299.000000   2999.000000     0.000000     2.600000    10.000000
50%      5999.000000   4799.000000    40.000000     3.500000    37.000000
75%      8999.000000   7995.000000    50.000000     4.400000    68.000000
max     29999.000000  36500.000000    60.000000     5.000000   223.000000

In [7]:
sneakers.describe(include='object')

,Product Name,Product ID,Brand
count,3268,3268,3268
unique,1531,3179,5
top,Women's adidas Originals Sambarose Shoes,CD6720-808,Adidas CORE / NEO
freq,16,3,1111

In [8]:
sneakers.isnull().sum()

Product Name     0
Product ID       0
Listing Price    0
Sale Price       0
Discount         0
Brand            0
Rating           0
Reviews          0
dtype: int64

In [9]:
dup_rows = sneakers[sneakers.duplicated()].count()
print(dup_rows)

Product Name     88
Product ID       88
Listing Price    88
Sale Price       88
Discount         88
Brand            88
Rating           88
Reviews          88
dtype: int64

In [10]:
sneakers.drop_duplicates(inplace=True, ignore_index=True)

In [11]:
sneakers[sneakers.duplicated()].count()

Product Name     0
Product ID       0
Listing Price    0
Sale Price       0
Discount         0
Brand            0
Rating           0
Reviews          0
dtype: int64