### 1. Introduction

### 2. Importing the Libraries

In [1]:
import  numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### 3. Loading the Dataset

In [2]:
df = pd.read_csv('sneakers.csv')

In [3]:
sneakers = df.copy()
sneakers.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,3.5,72

In [4]:
# 1. what is the shape of the dataset?
# 3. list all the columns' dtypes.
print('the shape of the DataFrame is: ', sneakers.shape)
print('the size of the DataFrame is: ', sneakers.size)
print('the dimension of the DataFrame is: ', sneakers.ndim)
print('the column names of the DataFrame are: ', sneakers.columns)
print('the dtypes of the DataFrame is: ', sneakers.dtypes)

the shape of the DataFrame is:  (3268, 8)
the size of the DataFrame is:  26144
the dimension of the DataFrame is:  2
the column names of the DataFrame are:  Index(['Product Name', 'Product ID', 'Listing Price', 'Sale Price', 'Discount',
       'Brand', 'Rating', 'Reviews'],
      dtype='object')
the dtypes of the DataFrame is:  Product Name      object
Product ID        object
Listing Price      int64
Sale Price         int64
Discount           int64
Brand             object
Rating           float64
Reviews            int64
dtype: object

In [5]:
# 2. are there any missing values in the dataset?
sneakers.isnull().sum()

Product Name     0
Product ID       0
Listing Price    0
Sale Price       0
Discount         0
Brand            0
Rating           0
Reviews          0
dtype: int64

In [6]:
# 4. are there any duplicate rows?
sneakers['Product Name'].value_counts()

Product Name
Women's adidas Originals Sambarose Shoes        16
Men's adidas Originals Supercourt Shoes         16
Men's adidas Originals Stan Smith Shoes         15
Men's adidas Originals Continental 80 Shoes     14
Nike Air Max 90                                 14
                                                ..
Men's adidas Originals Superstar Clean Shoes     1
Men's adidas Running Kivaro 1 shoes              1
Men's adidas Originals Samba OG MS Shoes         1
Men's adidas Sport Inspired Strikerr             1
Nike P-6000 SE                                   1
Name: count, Length: 1531, dtype: int64

In [7]:
# 6. which brand has the highest number of products in this dataset?
sneakers[['Brand']].sum()

Brand    Adidas Adidas ORIGINALSAdidas ORIGINALSAdidas ...
dtype: object