# Lab 08 - Missing Values - Andrew Badzioch

#### Notes:
2. analyze data for presentation
2. complete analysis for data mining
3. prepare data for more complex things: Ml, DL, Comp Vision, NLP, LLM (GenAI)
    - cannot use data with missing values  
- Data Preprocessing

- What are missing values in a dataset?
1. the real-world data is rarelt clean or homogeneous.
2. most of the real datasets contain missing values.
3. missing values are the values that are wither not collected ot non-existent.
4. the general term for missing values is NA (not available)
5. NA can be null, None, or NaN:
    - null: any piece of data that is not defined
    - None: any Python object that is missing in a code
    - NaN: not a number, indicating the missing value is a numeric dtype according to NumPy library
6. the most known missing values are in the NaN format

In [15]:
# let's check out none
a = None

In [16]:
type(a)

NoneType

In [17]:
print(a)

None

In [18]:
# let's see if we can use None as a value
b = np.array([2, 'Andy', None, 5])
b

array([2, 'Andy', None, 5], dtype=object)

In [19]:
# let's check out Nan in both NumPy and pandas
c = np.array([6, 9, np.nan, 10])
c

array([ 6.,  9., nan, 10.])

In [20]:
d = pd.Series([3, None, 7, np.nan])
d

0    3.0
1    NaN
2    7.0
3    NaN
dtype: float64

### Importing Libraries

In [21]:
# general libraries
import numpy as np
import pandas as pd
import os
import math

# data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# suppressing warnings
import warnings
warnings.filterwarnings('ignore')

### Load the Dataset

In [22]:
df = pd.read_csv('titanic_dataset.csv')

In [23]:
# copy dataset
titanic = df.copy()

In [24]:
# checking the dataset load
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### EDA
- attributes

In [25]:
# basic data exploration: attributes
# examine missing values
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64